<header>
    <div class="header-container">
        <a routerLink="/" class="header-title">Stock Tracker</a>
        <nav>
            <div *ngIf="user">
                <button class="navbar-element logout-button" (click)="logout()">Log out</button>
            </div>
            <div *ngIf="!user">
                <a routerLink="/login" class="navbar-element">Login</a>
                <a routerLink="/signup" class="navbar-element">Signup</a>
            </div>
        </nav>
    </div>
    <hr class="navbar-divider" />
</header>
